.card {
	position: relative;
	width: 600px;
	padding: 20px;
	max-width: 85vw;
	height: 50vh;
	background-size: cover;
	background-position: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* 
0px 18px 53px 0px rgba(0, 0, 0, 0.3), */
/* #5aff3d green color */

div.card_border {
	border-radius: 20px;
}

div.container {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	width: auto;
	max-width: 85vw;
	max-height: 20vh;
	padding: 25px;
	color: white;
	background-color: #222428;
	font-family: Nunito;
	font-size: 1rem;
	line-height: 5px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.restaraunt_name {
	max-height: 1vh;
}

.location {
	font-size: 1rem;
}

@media screen and (min-width: 50px) {
	.info_button {
		position: relative;
		/* left: 500px; */
		display: flex;
		margin-left: 225px;
		top: 70px;
		max-height: 0vh;
		width: auto;
	}
}

@media screen and (min-width: 800px) {
	.info_button {
		position: relative;
		/* left: 500px; */
		display: flex;
		margin-left: 500px;
		top: 70px;
		max-height: 0vh;
		width: auto;
	}
}

.card > h3 {
	position: absolute;
	bottom: 10px;
	color: white;
}

.cardSwipe_cardContainer {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

.swipe {
	position: absolute;
}

.h1 {
	position: relative;
	text-align: center;
}
