.header_icon {
	padding: 10px;
}

.Header {
	padding: 1px;
	text-align: center;
	background: #222428;
	color: white;
	font-family: 'nunito';
}

.Header em {
	color: #5aff3d;
	font-family: 'nunito';
	font-style: normal;
}
